<div>
    <label for="MASS">Mass:</label>
    <input type="number" id="mass" name="MASS">
    <br>
    <br>
    <label for="GA">Gravitational acceleration</label>
    <input type="number" id="ga" name="GA" disabled value="9.82">
    <br>
    <br>
    <h2 id="resFo">Result:</h2>
    <br>
    <br>
    <div class="bContainer">
        <input class="calcMain" type="submit" value="Submit" onclick="forceCal()">
    </div>
</div>