<div>
    <label for="R">Resistace</label>
    <input type="number" id="r" name="R">
    <br>
    <br>
    <label for="A">Current:</label>
    <input type="number" id="a" name="A">
    <br>
    <br>
    <h2 id="resVol">Result:</h2>
    <br>
    <br>
    <div class="bContainer">
        <input class="calcMain" type="submit" value="Submit" onclick="VolCalc()">
    </div>
</div>
