@{
    ViewBag.Title = "Easics";
}
<div class="Intro">
    <div>
        <h2>Easics, an easy way to do physics</h2>
        <p>
            Easics offers an easy way to see and calculate physic calculations.
        </p>
        <div class="TheoryOver">
            @Html.Action("sidebar") <!--Html.Action henter en partial view og sætter det ind i det div, som metoden sidder i-->
        </div>
    </div>

</div>

<div class="In2">
    <div class="Calc" id="Calculator">
        
            <div class="bContainer">
                
            </div>
    </div>
    
    <div class="TheorySub" id="subBARS">

    </div>
</div>
